In [ ]:
#pandas:panal data 
#data manapulation
#1. SERIES
#2. DATA FRAME

In [2]:
import pandas as pd

In [5]:
data={
    'name':['Diya','Riya','Siya'],
    'Age':[21,29,27],
    'Mark':[88,92,79]
}
df=pd.DataFrame(data)
print(df)

   name  Age  Mark
0  Diya   21    88
1  Riya   29    92
2  Siya   27    79

In [7]:
print(df.head())
print(df.tail())
print(df.shape)
print(df.columns)
print(df.info())
print(df.describe())

   name  Age  Mark
0  Diya   21    88
1  Riya   29    92
2  Siya   27    79
   name  Age  Mark
0  Diya   21    88
1  Riya   29    92
2  Siya   27    79
(3, 3)
Index(['name', 'Age', 'Mark'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   Age     3 non-null      int64
 2   Mark    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None
             Age       Mark
count   3.000000   3.000000
mean   25.666667  86.333333
std     4.163332   6.658328
min    21.000000  79.000000
25%    24.000000  83.500000
50%    27.000000  88.000000
75%    28.000000  90.000000
max    29.000000  92.000000

In [17]:
#condition wise filtering
data={
    'name':['Diya','Riya','Siya'],
    'course':['BCA','BBA','B.TECH'],
    'Marks':[88,92,79]
}
print(df)
print("")
df=pd.DataFrame(data)
def get_grade(Marks):
    if Marks>=85:
        return "A"
    elif Marks >=65:
        return "B"
    else:
        return "C"

df['grade']=df['Marks'].apply(get_grade)

   name  course  Marks grade
0  Diya     BCA     88     A
1  Riya     BBA     92     A
2  Siya  B.TECH     79     B

In [22]:
df['grade']=['A','A+','B']
df['Marks']=df['Marks']+5